#main
{
    width: 900px;
    height: 100px;
    background-color:rgb(184, 253, 242);
}

#text1
{
    width: 900px;
    height: 30px;
    background-color:rgb(184, 253, 242);
   
}

#text2
{
    width: 900px;
    height: 30px;
    background-color:rgb(184, 253, 242);

}

#text3
{
    width: 900px;
    height: 30px;
    background-color:rgb(184, 253, 242);

}



